/* index.css */

html,body {
  background-color: #121212;  /* Dark background */
  color: #E0E0E0;             /* Light text color */
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: auto; /* Allow scrolling within the root container */
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #333333; /* Dark background for scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background-color: #444444; /* Slightly lighter dark color for the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #333333; /* Adds a border to the thumb for separation */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1976D2; /* Change thumb color on hover to highlight */
}

h1, h2, h3, h4, h5, h6, p {
  color: #E0E0E0;  /* Ensure text remains light */
}

a {
  color: #1976D2;  /* Highlight links */
}

.MuiButton-root {
  background-color: #333333;  /* Dark buttons */
  color: #E0E0E0;
}

.MuiCard-root {
  background-color: #333333;  /* Dark card backgrounds */
}

.MuiTextField-root {
  background-color: #333333;
  color: #E0E0E0;
}

.MuiDialog-paper {
  background-color: #2A2A2A;  /* Dark dialog background */
  color: #E0E0E0;
}

.MuiOutlinedInput-root {
  background-color: #333333;
  color: #E0E0E0;
}

.MuiInputLabel-root {
  color: #B0B0B0;  /* Light color for labels */
}

.MuiIconButton-root {
  color: #B0B0B0;  /* Light color for icons */
}

/* Add more specific overrides for other components as needed */
